*{
	margin: 0;
	padding:0; 
}
li{
	list-style: none;
}

.menu{
	width: 280px;
	/*height: 60px;*/
	background: #333d4b;
	overflow: auto;
	overflow: hidden;
}
.menu h3{	
	line-height: 60px;	
	margin-left: 20px;
	font-size: 16px;
	color:#e7ebf0;
}

.menu li{
	text-indent: 60px;
	height: 40px;
	line-height:40px;
	color: #e7ebf0;
}
ul{
	display: none;
}
.menu:hover ul{
	display: block;
}
.menu li:hover{
	background: #333;
}
/*.menu:hover .menu2{
	border-right: 5px solid red;
}*/

.menu0{
	height: 70px;
}
.menu1{
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
	float: left;
}
.menu2{
	width: 160px;
	float: left;
	height: 70px;
}
.menu3{
	margin-top: 20px;
	float: left;
	position: relative;
}
.menu4{
	position: absolute;
	bottom:2px;
	z-index: 1;
	display: none;
}
.menu:hover .menu4{
	display: block;
}